<%= form_with(model: habit) do |form| %>
  <% if habit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(habit.errors.count, "error") %> prohibited this habit from being saved:</h2>

      <ul>
        <% habit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="flex space-x-2">
    <div>
      <%= form.label :start, "I want to" %>
    </div>
    <div>
      <%= form.select :start, options_for_select([["Start", true], ["Stop", false]]) %>
    </div>
    <div>
      <%= form.text_field :name, placeholder: "a habit" %>
    </div>
  </div>

    

  

  <div>
    <%= form.submit %>
  </div>
<% end %>
